*
{
    margin: 0;
    padding: 0;
}

html,
body
{
    overflow: hidden;
}

.webgl
{
    /* position: fixed; */
    /* top: 0;
    left: 0; */
    outline: none;
}
#settings {
    width: 100vw;
    text-align: center;
    margin: .1em 0;
    padding: 0 0;
    
}
#settings > button {
    font-size: 2em;
    margin: 10px;
}
.social-icon {
    width: 2em;
    height: 2em;
    border-radius: 0.3em;
    bottom: 30px;
    box-shadow: 2px 2px 0px rgba(128,128,128,0.5);
}
.social-icon:hover{
    opacity: 0.4;
    
}

.text-shadow {
    text-shadow: 2px 2px 3px rgb(95, 0, 0); /* Adjust values as needed */
}

/* Add styles for the shadow */
.image-link {
    position: absolute;
    display: inline-block; /* Ensure the link behaves like a block element */
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1); /* Define the shadow */
}

/* Style for the button */
.hide-button {
    position: absolute;
    top: 35px;
    right: 30px;
    height: 30px;
    background-color: rgba(128,128,128,0.0);
    border: none;
    cursor: pointer;
    
}
.hide-button:hover {
    opacity: 0.4;
}